<!DOCTYPE html>
<html ng-app="modone">
    
    <head >
        <script src="js/libs/angular.min.js"></script>
        <script src="js/libs/angular-route.js"></script>
        <script src="js/libs/appmodule.js"></script>
        
         <link rel="stylesheet" href="css/bootstrap.css">
        <title>Blueprints</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        
    </head>
    <body ng-controller="plan_control">
		{{p}}<p></p>
		<form>
        <select ng-model="p">
			<option ng-repeat="o in blueprints" value="{{o}}">
				{{o}}
			</option>
		</select>
		
		 <button type="button" class="btn btn-warning"  ng-click="loadData()">
               Load Blueprints
          </button> 
          <button  type="button" class="btn btn-warning"  ng-click="consultaDatos()">
               Dibujar Canvas
          </button> 
          <button type="button" class="btn btn-warning"  ng-click="consultaDatos()">
               Dibujar SVG
          </button> 
         
	</form>
         
         <form>
           <h1>SVG</h1>
             <svg id= "mySVG" width="800" height="600" style="border:1px solid #000000;">
             <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
             </svg> 
             <h1>CANVAS</h1>
         <canvas id="myCanvas" width="800" height="600" style="border:1px solid #000000;"></canvas>    
         </form>
                       
        
    </body>
</html>
